* {
    background-color: black;
    color: white;
}



.general{
    margin: 1rem;
    width: 500px;

}
.titulo{
    text-align: center;
    font-size: xx-large;
}
.img1{
    width: 100%;
}
.info-secundaria{
    font-weight: 400;
    font-size: medium;
    font-style: italic;
}
.p1 {
    font-weight: 700;
    font-size: larger;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}